PISTON_PORT=2000
PISTON_BIND_ADDRESS=0.0.0.0:2000
PISTON_LOG_LEVEL=INFO
PISTON_DATA_DIRECTORY=/piston
PISTON_REPO_URL=https://github.com/engineer-man/piston/releases/download/pkgs/index
PISTON_MAX_CONCURRENT_JOBS=4
PISTON_DISABLE_NETWORKING=true
PISTON_INSTALL_PACKAGES=node=18.15.0,python=3.10.0,gcc=10.2.0,java=15.0.2
